
  {% extends "ProyectoWebApp/base.html" %}
  {% load static %}
  {% block content %}
  
  <div class="contenedorformulario">
    <p style="color:white; text-align: center;">AGENDA TU VISITA CON NOSOTROS PARA UNA MAYOR ASESORIA</p>
      {% if "envio_exictoso" in request.GET %}

        <p style="color:white;">informacion enviada con exicto muchas gracias por su participacion</p>

      {% endif %}
      <form action="" method="POST" style="text-align: center;"> 
          {% csrf_token %}
          <table style="color:white;">{{miformulario.as_table}}</table>
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1" style="color:white;">Aceptas nuestra <a href="">Política de tratamiento de datos</a></label><br>
          <input type="submit" value="enviar" style="width:150px">             
      </form>
  </div>
  

  
  {% endblock content %}
