
  
  {% extends "ProyectoWebApp/base.html" %}
 
  {% load static %}
  {% block content %}
    <div class="container">
      <div style="float:right;">
        
        {% include "carro\widget.html" %}
      </div>
    <div class="row row-cols-1 row-cols-md-3">
    {% for producto in productos %}
  <div class="col mb-4">
    <div class="card h-100">
      <img src="{{producto.imagen.url}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{producto.nombre}}</h5>
        <p class="card-text">{{producto.descripcion}}</p>
        <p class="card-text">{{producto.precio}}</p>
      </div>
      <div class="card-footer text-center btn-lg ">

            <a href="{% url 'carro:agregar' producto.id %}" class="btn btn-success btn-block">Agregar al carro</a>

        </div>
    </div>
  </div>


        
    {% endfor %}
      </div>
    </div>

  {% endblock content %}
