
{% extends "ProyectoWebApp/base.html" %}
 
{% load static %}
{% block content %}
    {% for servicio in servicios %}
<div class="container">
  <section class="row mt-3">
    <div class="col-md-6 embed-responsive embed-responsive-16by9">
      
        <iframe class="embed-responsive-item" src="{{servicio.imagen}}" allowfullscreen></iframe>
    </div > 
      <div class="titulo col-md-6 h3 text">
        <h2 style="color:white;">{{servicio.titulo}}</h2><br>
        <p class="">{{servicio.contenido}}</p>
        <hr>
        
            
    </div>
      
  </section>
</div>
    {% endfor %}
   
{% endblock content %}
