
{% extends "ProyectoWebApp/base.html" %}
 
{% load static %}

{% block content %}
    {% for post in posts %}
      <section class="page-section clearfix">
        <div class="container">
          <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{{post.imagen.url}}" alt="" style="width: 50%;">
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
              <h2 class="section-heading mb-4" >
                <span class="section-heading-lower">{{post.titulo}}</span>
                <span class="section-heading-upper">{{post.contenido}}</span>
              </h2>
              <div style="text-align: left; font-size: 0.8em;">
                autor: {{post.autor}}
              </div>
            </div>
          </div>
        </div>
      </section>

    {% endfor %}
    <div style="width: 75%; margin: auto; text-align: center; color: white;">

      categorias:

      {% for post in posts %}
        {% for categoria in post.categorias.all %}
          <a href="{% url 'categoria' categoria.id %}" class="linskcategorias">{{categoria.nombre}}</a>&nbsp;&nbsp;&nbsp;
        {% endfor %}

      {% endfor %}   
    </div>
   
{% endblock content %}
