<html>

<head>
  {% load static %}
    <!-- Bootstrap -->
    <link href="{% static 'ProyectoWebApp/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

     <!-- Fonts -->
    
     <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet"> 
     <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
     <link rel="shortcut icon" href="{% static 'ProyectoWebApp/img/logoo.png' %}">
    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/62340f6a83.js" crossorigin="anonymous"></script>
     <!--fonts.googleapis -->
     <link rel="preconnect" href="https://fonts.googleapis.com">

    <!-- Styles -->
    <link href="{% static 'ProyectoWebApp/css/gestion.css'%}" rel="stylesheet">
</head>

<body>
  
  <div class="card mb-3 text-white">
    <img  src="{% static 'ProyectoWebApp/img/logo.png' %}" class="card-img" alt="...">
    <div class="card-img-overlay">
      <p style="margin:120px ">materializando tus sueños en el hogar.</p>
    </div>
  </div>

  
    
  <!--<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">CL LA CASA DEL MARMOL Y EL GRANITO</h1>
    <p class="lead">materialisando tus sueños en el hogar.</p>
  </div>
  </div>-->


 <!-- Navbar -->
 <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
    <div class="container">
      <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="{% url 'home' %}">Gestión de Pedidos</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item {% if request.path == '/' %}active{% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'home' %}">Inicio</a>
          </li>
          <li class="nav-item {% if request.path == '/servicios/' %}active{% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'servicios' %}">Servicios</a>
          </li>
          <li class="nav-item {% if request.path == '/tienda/' %}active{% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'tienda' %}">Tienda</a>
          </li>
          <li class="nav-item {% if request.path == '/contactos/' %}active{% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'contacto' %}">Contacto</a>
          </li>
          <li class="nav-item {% if request.path|slice:':6' == '/blog/' %}active{% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'blog' %}">Blog</a>
          </li>
         
        </ul>
      </div>
    </div>
  </nav>

  <!---contenido cambiante-->
  {% block content %}
  {% endblock %}

 


    <!-- Footer -->
    <footer class="footer text-faded text-center py-5">
     
      
      
      <div class="container">
        <p class="m-0" >
	        <a href="https://l.facebook.com/l.php?u=https%3A%2F%2Fapi.whatsapp.com%2Fsend%3Fphone%3D573214853206%26fbclid%3DIwAR1iHJw5TeCT-NdiH_kdSsYIeSFAtekF_8fb9_OtCHle1c1SbZqGxq6WImU&h=AT2XVzkKlS1dTpotqySZbKowQhBdJm0bwyaVDoSTT4zqG6Z1t6HIVG3mn37EapduRyKqiG2QJ4X36jJq-forfPpoEEthTaYNRNWtBiOdBU6aNOhKkljP5ZQBFLjksBDCCGehodu1kwgSY9GWXRw" class="link" target="_blank">
	          <span class="fa-stack fa-lg" style="color: rgb(22, 165, 29);">
	            <i class="fa fa-circle fa-stack-2x"></i>
	            <i class="fa fa-whatsapp fa-stack-1x fa-inverse"></i>
	          </span>
	        </a>
	        <a href="https://www.facebook.com/Cocinascl/photos/?ref=page_internal" class="link" target="_blank">
	          <span class="fa-stack fa-lg" style="color:rgba(21, 32, 196, 0.884);">
	            <i class="fa fa-circle fa-stack-2x"></i>
	            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
	          </span>
	        </a>
	        <a href="https://www.instagram.com/cocinas.cl/" class="link" target="_blank">
	          <span class="fa-stack fa-lg" style="color:rgba(151, 70, 23, 0.884);">
	            <i class="fa fa-circle fa-stack-2x"></i>
	            <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
	          </span>
	        </a>
	      </p>
        
      </div>
	</footer>

    <!-- Bootstrap -->
    <script src="{% static 'ProyectoWebApp/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'ProyectoWebApp/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>


</html>